html {
    scroll-behavior: smooth;
}

#top-navbar {
    line-height: 4;
    overflow: hidden;
    background-color: rgb(240, 239, 236);
    height: 100px;
    text-transform: uppercase;
    font-family: lemon, sans-serif;
    font-weight: 700px;
    /* Wavy generator found at: https://css-generators.com/wavy-shapes/ */
    --mask:
    radial-gradient(59.17px at 50% calc(100% - 81.00px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(59.17px at 50% calc(100% + 51.00px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
    -webkit-mask: var(--mask);
          mask: var(--mask);
}

#top-navbar ul {
    display: flex;
    margin-left: 70%;
}

#top-navbar li {
    list-style-type: none;
    float: left;
}

#top-navbar li a {
    text-decoration: none;
    padding: 2em 1em;
    justify-content: center;
}

#top-navbar li a:hover {
    text-shadow: 5px 5px hsla(348, 84%, 81%, 0.5);
    transition: ease-in 0.4s;
}

#home-color {
    color: rgb(226, 124, 45);
}

#about-color {
    color: rgb(28, 108, 130);
}

#projects-color {
    color: rgb(40, 122, 102);
}

#contact-color {
    color: rgb(234, 187, 34);
}

#heather-drawing {
    position: relative;
    display: inline-block;
}

#intro {
    height: 50vh;
}

.intro-greeting {
    font-size: 40px;
    font-family: lemon, sans-serif;
    color: rgb(226, 124, 45);
    width:100%;
    margin: 8em 0 0 19em;
    /* removed overflow:hidden, cropped h1 weird */
    animation-name: fade-in;
    animation-duration: 1.5s;
}

.intro-name {
    font-size: 40px;
    font-family: lemon, sans-serif;
    color: rgb(226, 124, 45);
    width:100%;
    margin: 0.5em 0 0 19.5em;
    /* removed overflow:hidden, cropped h1 weird */
    animation-name: fade-in;
    animation-duration: 1.5s;
}

#heather-drawing img {
    display: block;
    object-fit: scale-down;
    height: 700px;
    width: 700px;
    margin: -27em 0 0 9em;
}

#heather-intro {
    display: flex;
    justify-content: center;
} 
/* Fade in effect found at: https://dev.to/tiaeastwood/super-simple-css-animation-for-fade-in-on-page-load-2p8m */
@keyframes fade-in {
    0% {
        transform: translateY(1%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

#intro-description {
    display: flex;
    justify-content: center;
    margin: -16em 0 0 50em;
    width: 30em;
    animation-name: fade-in;
    animation-duration: 3s;
    font-family: roboto, sans-serif;
}

#social-links {
    display: flex;
    justify-content: center;
    margin: 1.7em 0 0 25em;
    animation-name: fade-in;
    animation-duration: 3s;
}

#social-links img {
    padding: 0 0.5em;
    opacity: 0.5;
    transition: ease-in 0.4s;
}

#social-links img:hover {
    opacity: 1;
}

.linkedin-logo {
    width: 2em;
    margin-top: 0.1em;
}

.github-logo {
    width: 2em;
}

.x-logo {
    width: 3.3em;
    margin-top: -0.2em;
    margin-left: -0.8em;
}

#about-me {
    background-color: rgb(250, 249, 247);
    height: 100vh;
    padding-top: 3em;
}

#about-me p {
    color: rgb(35, 120, 144);
    font-family: roboto, sans-serif;
    width: 45%;
    margin-top: -21em;
    margin-left: 6em;
}

#about-header {
    font-family: lemon, sans-serif;
    font-size: 5em;
    color: rgb(28, 108, 130);
    padding: 0 0 0 1em;
}

#heather-portrait {
    display: flex;
    justify-content: flex-end;
    margin-right: 16em;

}

#about-paragraph {
    display: flex;
    justify-content: flex-start;
    
}

#heather-portrait img {
    width: 20em;
    border-radius: 10em 10em 0 0;
}

.languages h3 {
    font-family: lemon, sans-serif;
    color: rgb(226, 124, 45);
    font-size: 1em;
    margin: 3em 0 0 8em;

}

.languages h3:hover {
    text-shadow: 5px 5px hsla(348, 84%, 81%, 0.5);
    transition: ease-in 0.4s;
}

.languages ul {
    margin: 1em 0 0 9em;
}

.languages li {
    color: rgb(28, 108, 130);
    font-family: roboto, sans-serif;
    padding-bottom: 1em;
    transition: transform 250ms;
}

/* Inspo for hover taken from: https://www.joshwcomeau.com/animation/css-transitions/ */
.languages li:hover {
    transform: translateY(-2px);
}

.dev-tools h3 {
    font-family: lemon, sans-serif;
    font-size: 1em;
    color: rgb(40, 122, 102);
    margin: -8em 0 0 27em;
}

.dev-tools h3:hover {
    text-shadow: 5px 5px hsla(348, 84%, 81%, 0.5);
    transition: ease-in 0.4s;
}

.dev-tools ul {
    margin: 1em 0 0 28em;
}

.dev-tools li {
    color: rgb(28, 108, 130);
    font-family: roboto, sans-serif;
    padding-bottom: 1em;
    transition: transform 250ms;
}

.dev-tools li:hover {
    transform: translateY(-2px);
}

.design-tools h3 {
    font-family: lemon, sans-serif;
    font-size: 1em;
    color: rgb(234, 187, 34); 
    margin: -8em 0 0 38em;
}

.design-tools h3:hover {
    text-shadow: 5px 5px hsla(348, 84%, 81%, 0.5);
    transition: ease-in 0.4s;
}
.design-tools ul {
    margin: 1em 0 0 39em;
}

.design-tools li {
    color: rgb(28, 108, 130);
    font-family: roboto, sans-serif;
    padding-bottom: 1em;
    transition: transform 250ms;
}

.design-tools li:hover {
    transform: translateY(-2px);
}

 #projects {
    height: 100vh;
 }

 .projects-header {
    font-family: lemon, sans-serif;
    font-size: 5em;
    color: rgb(40, 122, 102);
    padding: 0.6em 0 0 1em;
 }

.project-container {
    display: flex;
    justify-content: space-evenly;  
}

.project-one img {
    transition: ease-in-out 0.2s;
}

.project-two img {
    transition: ease-in-out 0.2s;
}

.project-three img {
    transition: ease-in-out 0.2s;
}

.project-one img, .project-two img, .project-three img {
    width: 500px;
    margin: 4em 0 0 0;
}

.project-one img:hover {
    transform: translateY(6px);
}

.project-two img:hover {
    transform: translateY(6px);
}

.project-three img:hover {
    transform: translateY(6px);
}

@media screen and (max-device-width: 480px) {
    #top-navbar {
        display: none;
    }
    .overlay-text {
        margin-left: 3em;
        margin-top: 0em;
    }
    .intro-greeting {
        left: 20em;
        animation-name: fade-in;
        animation-duration: 1s;
    }
    .intro-name {
        animation-name: fade-in;
        animation-duration: 3.5s;
    }
    #heather-drawing img {
        display: block;
        object-fit: cover;
        border-radius: 50%;
        height: 400px;
        width: 400px;
        margin: -2em 0 0 4em;
    }
    #intro-description {
        position: relative;
        width: 50%;
        right: 39em;
        top: 1em;
        animation-name: fade-in;
        animation-duration: 3s;
    }
    #social-links {
        position: relative;
        top: 1em;
        right: 14em;  
    }
    #social-links:hover {
        opacity: 1;
    }
}
@media screen and (max-width: 360px) {
    #intro {
        height: 100vh;
    }
    .intro-greeting {
        position: relative;
        top: 2em;
        left: -17em;
        font-size: 2em;
    }
    .intro-name {
        position: relative;
        top: 2em;
        left: -18em;
        font-size: 2em;
    }
    #heather-drawing img {
        position: relative;
        top: -19em;
        left: -6.4em;
        height: 300px;
        width: 300px; 
    }
    #intro-description {
        width: 80%;
        position: relative;
        top: 4em;
        left: -46em;
    }
    #social-links {
        position: relative;
        top: 10em;
        left: -10em;
    }
}